
@{
    ViewData["Title"] = "Gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class=" container-fluid  banner_gioithieu row justify-content-center ">
        <div class="col-md-6">
            <h4 style="color:cadetblue">Trà SEN</h4><h1>BÁCH DIỆP</h1>
        </div>
    </div>

    <div class="container-fluid banner_gioithieu1 row justify-content-center">
        <h1 class="text-center font_tieude">Giới Thiệu</h1>
        <div class="col-md-8 textarea mt-3 font_tintuc1 " style="width: 50rem; word-break:break-word;">
            <p>Bằng sự nỗ nục không ngừng, trải qua hơn 10 năm xây dựng và phát triển trong lĩnh vực trà Thái Nguyên, tháng 06/2017- công ty TNNHH Tân Cương Xanh chính thức kỉ niệm 20 năm thành lập (1997-2017). Trong 20 năm qua, thương hiệu trà Tân Cương Xanh đã ngày càng đi sâu vào thị trường trả Việt nói riêng và thế giới đồ uống nói chung.</p>
            <p>Với mục tiêu mang đến thị trường một sản phẩm trả mang thương hiệu Thái Nguyên "sạch" chính hiệu cũng như sự trăn trở về sự phát triển của thị trường chè Việt Nam, cách đây 10 năm trên thị trường trà Việt, người con ưu tú đó đã thành lập một công ty chuyên sản xuất và phân phối về trà sạch mang thương hiệu “Tân Cương Xanh".</p>
            <img src="/Project_TTCM-master/Pictures/gioi-thieu/intro1.jpg" alt="" style="width: 48rem;">
        </div>
    </div>

    <div class=" container-fluid row  justify-content-center">
        <div class="col-md-2 textarea mt-3 font_tintuc1   " style="width: 50rem; word-break:break-word;">
            <p>Với phương châm "Uy tín chất lượng sản phẩm là mục tiêu số 1", Công ty TNHH Tân Cương Xanh đã luôn nỗ lực cả về nhân lực, vật lực, xây dựng uy tín thương hiệu, niềm tin với khách hàng thông qua những sản phẩm của công ty. Cùng với sự tín nhiệm của khách hàng vẫn sản phẩm của Tân Cương Xanh trong thời gian qua, Tân Cương Xanh đã không những phát triển thành một công ty vững mạnh trong ngành trà thái nguyên ngon Việt Nam đạt được Cúp Vàng thương hiệu Doanh Nhân Tinh hoa Đất Việt và Thương hiệu vàng Uy tín... Từ đó cho nên động lực để Tân Cương Xanh phấn đấu để trở thành một trong những tập đoàn sản xuất, chế biến và cung cấp trả hàng đầu Việt Nam và thế giới</p>
            <p>Sản Phẩm của công ty đạt đầy đủ tiêu chuẩn vệ sinh an toàn của Chi Cục Vệ Sinh An Toàn Thực Phẩm Của Thái Nguyên - Của chỉ cục Hà nội. Đạt tiêu chuẩn xuất khẩu Chicago - Hoa Kỳ. Trà Tân Cương một loại đồ uống nổi tiếng trong ẩm thực của người Việt Nam có hương thơm cốm dịu dàng đặc trưng, màu nước xanh trong, sinh và biển, vị chút dịu, uống xong có hậu ngọt lắng sâu trong vị giác người thưởng thức. Sản phẩm trà tân cương thái nguyên của nhà máy có tác dụng giải nhiệt. giảm béo, trị tăng huyết áp và phòng chống phóng xạ, chống ung thư... Với phương châm "Uy tín chất lượng sản phẩm là mục tiêu số 1", Công ty TNHH Tân Cương Xanh không ngừng phấn đấu để trở thành một trong những tập đoàn sản xuất, chế biến và cung cấp trả hàng đầu Việt Nam và thế giới.</p>
            <img src="/Project_TTCM-master/Pictures/gioi-thieu/intro2.jpg" alt="" style="width: 48rem;">
        </div>
    </div>
</div>

