
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators ">
            <img class="me-2 active h-100 rounded-circle" src="~/home/Pictures/trang-chu/around1.png" alt="" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1" />
            <img class="me-2 h-100 rounded-circle" src="~/home/Pictures/trang-chu/around.png" alt="" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" />
            <img class="h-100 rounded-circle" src="~/home/Pictures/trang-chu/around.png" alt="" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" />
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/home/Pictures/trang-chu/banner.png" class="d-block w-100" alt="...">
                <div class="carousel-caption text-dark d-md-block capsion">
                    <h2 class="fs-2">TRÀ ƯỚP SEN TÂY HỒ</h2>
                    <div class="banner_text">
                        <p>
                            Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát <br />
                            của sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương.
                        </p>
                        <button class="btn_thu btn py-md-3 px-md-5">THỬ NGAY</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/home/Pictures/trang-chu/banner.png" class="d-block w-100" alt="...">
                <div class="carousel-caption text-dark d-md-block capsion">
                    <h2 class="fs-2">TRÀ ƯỚP SEN TÂY HỒ</h2>
                    <div class="banner_text mt-5">
                        <p>
                            Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát <br />
                            của sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương.
                        </p>
                        <button class="btn_thu btn py-md-3 px-md-5">THỬ NGAY</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/home/Pictures/trang-chu/banner.png" class="d-block w-100" alt="...">
                <div class="carousel-caption text-dark d-md-block capsion">
                    <h2 class="fs-2">TRÀ ƯỚP SEN TÂY HỒ</h2>
                    <div class="banner_text">
                        <p>
                            Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát <br />
                            của sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương.
                        </p>
                        <button class="btn_thu btn py-md-3 px-md-5">THỬ NGAY</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="banner_Product position-relative">
        <div class="Product position-absolute top-50 start-50 translate-middle">
            <div class="col-12 d-flex justify-content-center fw-bold">
                <h1>SẢN PHẨM NỔI BẬT</h1>
            </div>
            <div class="col-12 mt-5">
                <div id="carouselExample" class="carousel slide w-100 col-12">
                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">
                            <div class="d-flex">
                                <div class="col-3 ">
                                    <img src="~/home/Pictures/trang-chu/product-1.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                                <div class="col-3 ">
                                    <img src="~/home/Pictures/trang-chu/product-2.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                                <div class="col-3 ">
                                    <img src="~/home/Pictures/trang-chu/product-3.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                                <div class="col-3 ">
                                    <img src="~/home/Pictures/trang-chu/product-4.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex">
                                <div class="col-3">
                                    <img src="~/home/Pictures/trang-chu/product-1.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                                <div class="col-3">
                                    <img src="~/home/Pictures/trang-chu/product-2.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                                <div class="col-3">
                                    <img src="~/home/Pictures/trang-chu/product-3.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                                <div class="col-3">
                                    <img src="~/home/Pictures/trang-chu/product-4.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà Ô long</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex">
                                <div class="col-3">
                                    <img src="~/home/Pictures/trang-chu/product-1.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                                <div class="col-3">
                                    <img src="~/home/Pictures/trang-chu/product-2.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp nhị sen</a></h6>
                                </div>
                                <div class="col-3">
                                    <img src="~/home/Pictures/trang-chu/product-3.png" class=" img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà Shan tuyết</a></h6>
                                </div>
                                <div class="col-3">
                                    <img src="~/home/Pictures/trang-chu/product-4.png" class="img-fluid" width="210" alt="...">
                                    <h6 class="text-uppercase mt-3"><a href="#" class="text-dark">Trà ướp bông sen</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <img class="" src="~/home/Pictures/trang-chu/backButton.png" aria-hidden="true" />
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <img class="" src="~/home/Pictures/trang-chu/nextButton.png" aria-hidden="true" />
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="introduction">
        <div class="col-12 d-flex justify-content-center fw-bold">
            <h1>GIỚI THIỆU</h1>
        </div>
        <div class="position-relative imgphone">
            <img src="~/home/Pictures/trang-chu/introduce-number-phone.png" class="position-absolute top-0 end-0" width="200" alt="">
        </div>
        <div class="intro_contan">
            <img src="~/home/Pictures/trang-chu/traxanhbachdiep.png" class="bachdiep" alt="">
            <p class="intro_text">
                Trà ướp Sen Bách Diệp - tinh hoa văn hóa Hà Thành là sự hòa quyện tuyệt vời
                giữa hương thơm ngan ngát của bông sen Bách diệp Hồ Tây và vị đậm đà của trà
                Tân Cương Thái Nguyên. Qua đôi bàn tay tài hoa và bí quyết nghề mật truyền
                nhiều đời của người thợ trà Thăng Long, tạo ra thức quà tinh túy, kết tinh văn hóa
                ngàn năm Thăng Long - Hà Nội.
            </p>
            <button class="btn_dthem btn py-md-3 px-md-5">ĐỌC THÊM</button>
        </div>
    </div>


    <div class="nghenhan">
        <div class="col-12 d-flex justify-content-center fw-bold tops">
            <h1>NGHỆ NHÂN TRÀ ĐẠO</h1>
        </div>
        <div class="list_nghenhan d-md-flex col-12 justify-content-center text-sm-center mt-5">
            <div class="nghenhan1 col-md-2 me-2">
                <img src="~/home/Pictures/trang-chu/professional-tea-1.png" class="img-fluid" alt="">
                <div class="text-center">
                    <h6>Nn. Nguyễn Cao Sơn</h6>
                    <p>Nguyễn Cao Sơn được Chọn làm đại diện quảng bá văn hóa Trà Việt tại ngôi nhà di sản 87 Mã Mây, Hà Nội</p>
                </div>
            </div>
            <div class="nghenhan2 col-md-2 mx-2">
                <img src="~/home/Pictures/trang-chu/professional-tea-2.png" class="img-fluid" alt="">
                <div class="text-center">
                    <h6>Nn. Hướng Anh Sướng</h6>
                    <p>Nguyễn Cao Sơn được Chọn làm đại diện quảng bá văn hóa Trà Việt tại ngôi nhà di sản 87 Mã Mây, Hà Nội</p>
                </div>
            </div>
            <div class="nghenhan3 col-md-2 mx-2">
                <img src="~/home/Pictures/trang-chu/professional-tea-3.png" class="img-fluid" alt="">
                <div class="text-center">
                    <h6>Nn. Nguyễn Thị Dần</h6>
                    <p>Nguyễn Cao Sơn được Chọn làm đại diện quảng bá văn hóa Trà Việt tại ngôi nhà di sản 87 Mã Mây, Hà Nội</p>
                </div>
            </div>
            <div class="nghenhan4 col-md-2 mx-2">
                <img src="~/home/Pictures/trang-chu/professional-tea-4.png" class="img-fluid" alt="">
                <div class="text-center">
                    <h6>Nn. Nguyễn Hoài Linh</h6>
                    <p>Nguyễn Cao Sơn được Chọn làm đại diện quảng bá văn hóa Trà Việt tại ngôi nhà di sản 87 Mã Mây, Hà Nội</p>
                </div>
            </div>
            <div class="nghenhan5 col-md-2 ms-2">
                <img src="~/home/Pictures/trang-chu/professional-tea-5.png" class="img-fluid" alt="">
                <div class="text-center">
                    <h6>Nn. Viên Trân</h6>
                    <p>Nguyễn Cao Sơn được Chọn làm đại diện quảng bá văn hóa Trà Việt tại ngôi nhà di sản 87 Mã Mây, Hà Nội</p>
                </div>
            </div>
        </div>
    </div>

    <div class="muangay">
        <div class="col-12 d-flex justify-content-center fw-bold">
            <h1>MUA NGAY</h1>
        </div>
        <div class="input-group mb-3 col-12 mt-5">
            <div class="col-1"></div>
            <input type="text" class="border_greens form-control rounded col-7" placeholder="Số điện thoạt/Email" aria-label="Số điện thoạt/Email" aria-describedby="button-addon2">
            <button class="btn_gui btn ms-2 rounded px-md-5 col-2" type="button" id="button-addon2">Gửi</button>
            <div class="col-2"></div>
        </div>
    </div>
</div>

