@model IEnumerable<fontend.Models.Product>

@foreach (var item in Model)
{
    <div class="col">
        <div class="card border-0 h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="ratings col-9 starColor">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star"></i>
                    <i class="text-dark">(17)</i>
                </div>
                <h5 class="newsColor mt-1 me-1 fs-6 py-1 col-2 text-center">
                    News
                </h5>
            </div>
            <img src="@ViewBag.Domain@item.Images"
                 class="card-img-top"
                 alt="product1" />
            <div class="card-body text-center">

                <h5 class="card-title">
                    <a class="text-dark" asp-controller="Product" asp-action="product" asp-route-id="@item.Id">
                        @item.Name
                    </a>
                </h5>


                <div class="d-flex justify-content-center">
                    <p class="card-text me-3 fs-5 fw-semibold mt-2">
                        @item.Price<span class="fs-6">VND</span>
                    </p>
                    <select class="weightTea mt-2 col-3 text-body-tertiary border border-0">
                        <option selected>100g</option>
                        <option value="1">200g</option>
                        <option value="2">300g</option>
                        <option value="3">400g</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
}