*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
::-webkit-input-placeholder { color: #595959; font-family:'Roboto',sans-serif; text-overflow: ellipsis; opacity: 1; font-size: 14px; font-weight: 400; }
:-moz-placeholder { color: #595959; font-family:'Roboto',sans-serif; text-overflow: ellipsis; opacity: 1; font-size: 14px; font-weight: 400; }
::-moz-placeholder { color: #595959; font-family:'Roboto',sans-serif; text-overflow: ellipsis; opacity: 1; font-size: 14px; font-weight: 400; }
:-ms-input-placeholder { color: #595959; font-family:'Roboto',sans-serif; text-overflow: ellipsis; opacity: 1; font-size: 14px; font-weight: 400; }

body{
    font-size: 15px;
    color: #000;
    line-height: 24px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header{
    padding-top: 17px;
    height: 100px;
    background: url(../Images/bg-header.jpg); 
    position: relative;
}
.header .logo img{
    width: 100px; 
    height: 100px;
    border-radius: 50px;
}
.header::after{
    content: '';
    position: absolute;
    bottom: -49px;
    left: 0;
    right: 0;
    height: 50px;
    background: url(../Images/bg-header.png) bottom;
    z-index: -1;
}
.search-form{
    margin: 4px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    
}
.search-form input{
    width: 225px;
    border: 1px solid #818181;
    border-radius: 20px;
    line-height: 24px;
    padding: 3px 15px;
    padding-right:40px;
    background: #f8f7f5;
    transition: all .35s;
}
.search-form input:focus{
    border-color:#d7b659;
    outline: none;
}
.search-form button{
    position: absolute;
    right: 1px;
    width: 33px;
    height: 30px;
    top: 1px;
    background: url(../Images/icon/search-top.png) center no-repeat;
    border: none;
    cursor: pointer;
}
.search-form button:hover{
    background-color: #d7b659;
    border-radius: 0 25px 25px 0;
}
.header .logo{
    float:left;
}
.header .header-right{
    float:right;
}
.header-top{
    text-align: right;
    height: 40px;
    z-index: 100;
}
.language{
    display:inline-block;
    vertical-align:top;
    margin: 4px 0;
    border-radius: 16px;
    border: 1px solid #818181;
    background: #f8f7f5;
    margin-left: 10px;
    padding: 3px 11px;
    position: relative;
    z-index: 100;
}
.lang-active{
    padding-left: 28px;
    line-height: 24px;
    background: url(../Images/icon/language.png);
    background-repeat: no-repeat;
    background-position: left;
    color: #1b1b1b;
    padding-right: 15px;
    position: relative;
    cursor: pointer;
    transition: all .35s;
}
.lang-active::after{
    content:'';
    position:absolute;
    border: 5px solid transparent;
    border-top-color: black;
    top: 10px;
    right: 0;
}
.language ul{
    display:none;
    list-style: none;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0 0;
}
.language ul li a{
    display:block;
}
.language ul li a:hover ,.lang-active:hover{
    color:#d7b659;
}
.btn-book{
    display:inline-block;
    margin: 4px 0;
    line-height: 24px;
    padding: 4px 20px;
    background: url(../Images/bg-book.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
}
.btn-book a{
    display:block;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 14px;
    color: #181200;
}

#sticker  ul{
    list-style:none;
    padding:0; 
    margin:0;
}
#sticker>ul{
    padding: 8px 0 5px;
    z-index: 90;
}
#sticker>ul>li{
    display:inline-block;
    vertical-align: top;
    margin-left: 5px;
}
#sticker>ul>li>a{
    padding:0 20px;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 14px;
    line-height: 36px;
    display: block;
    color: #1b1b1b;
    position: relative;
    overflow: hidden;
}
#sticker>ul>li>a::before{
    content:'';
    position:absolute;
    height:100%;
    left:0;
    top:0;
    width: 100%;
    transform: translate(-100%,0);
    background: url(../Images/bg-titH2.png);
    background-size: 100% 28px;
    background-repeat: no-repeat;
    background-position: left 4px;
    transition: all .15s;opacity: 0;
}
#sticker>ul>li:hover>a:before, 
#sticker>ul>li.active>a:before{
    transform: none;
    opacity: 1;
}
#sticker>ul>li>a span{
    position:relative; 
}
.header-container{
    padding:0 15px; 
    margin: auto;
}
.header-container::before, 
.header-container:after{
    content:''; 
    display: table;
}
.header-container:after{clear: both;}
