
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid banner_tintuc">
    <section>
        <div class="container">
            <h1 class="text-center p-4 mt-3">TIN TỨC</h1>
            <div class="d-md-flex justify-content-md-evenly mt-5 ">
                <div class="col-md-3 mt-1 mb-7">
                    <img src="../home/Pictures/tin-tuc/TINTUC_01.jpg" class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title mt-3 font_tintuc " style="color:cadetblue"> Văn hóa uống trà của người Việt,câu chuyện xưa và nay </h5>
                    <p style="width: 18rem;" class="mt-2 font_tintuc1 ">Trà xanh thái nguyên được phổ biến là một thức uống dân dã,quen thuộc bao đời nay.Cây chè xuất hiện chủ yếu ở các tỉnh Thái Nguyên,Phú Thọ,Yên Bái,Lâm Đồng....là nguồn gốc cho ra những sản phẩm chè có chất lượng cao </p>
                </div>
                <div class="col-md-3 mt-1 mb-7">
                    <img src="../home/Pictures/tin-tuc/TINTUC_02-05.jpg " class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title mt-3 font_tintuc" style="color:cadetblue"> Chè xanh Thái nguyên ướp hoa nhài </h5>
                    <p style="width: 18rem;" class="mt-4 font_tintuc1">Ở Việt Nam có rất nhiều nơi trồng hoa nhài,đây là một loại hoa nở tới 6 tháng/năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất nhiều và trà ướp hoa nhài giá thành rẻ hơn rất nhiều so với trà ướp bông sen Tây Hồ</p>
                </div>
                <div class="col-md-3 mt-1 mb-5">
                    <img src="../home/Pictures/tin-tuc/TINTUC_03.jpg" class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title mt-3 font_tintuc " style="color:cadetblue"> Cách bảo quản trà sen tuyết giữ được vị hương thơm </h5>
                    <p style="width: 18rem;" class="mt-2 font_tintuc1">Chè là loại thức uống dễ mất hương vị nhất,cũng dễ hút những mùi hương khác lạ khiến chè mất đi mùi vị ban đầu.Bảo quản chè là việc hết sức quan trọng mà mỗi người uống chè đều phải biết</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-md-flex justify-content-md-evenly mt-1 ">
                <div class="col-md-3 mt-1 mb-7">
                    <img src="../home/Pictures/tin-tuc/TINTUC_04.jpg" class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title mt-3 font_tintuc " style="color:cadetblue"> Văn hóa uống trà của người Việt,câu chuyện xưa và nay </h5>
                    <p style="width: 18rem; " class="mt-2 font_tintuc1">Trà xanh thái nguyên được phổ biến là một thức uống dân dã,quen thuộc bao đời nay.Cây chè xuất hiện chủ yếu ở các tỉnh Thái Nguyên,Phú Thọ,Yên Bái,Lâm Đồng....là nguồn gốc cho ra những sản phẩm chè có chất lượng cao </p>
                </div>
                <div class="col-md-3 mt-1 mb-7">
                    <img src="../home/Pictures/tin-tuc/TINTUC_05.jpg" class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title  mt-3 font_tintuc " style="color:cadetblue"> Chè xanh Thái nguyên ướp hoa nhài </h5>
                    <p style="width: 18rem;" class="mt-4 font_tintuc1">Ở Việt Nam có rất nhiều nơi trồng hoa nhài,đây là một loại hoa nở tới 6 tháng/năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất nhiều và trà ướp hoa nhài giá thành rẻ hơn rất nhiều so với trà ướp bông sen Tây Hồ</p>
                </div>
                <div class="col-md-3 mt-1 mb-5">
                    <img src="../home/Pictures/tin-tuc/TINTUC_06.jpg" class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title mt-3 font_tintuc " style="color:cadetblue"> Cách bảo quản trà sen tuyết giữ được vị hương thơm </h5>
                    <p style="width: 18rem;" class="mt-2 font_tintuc1">Chè là loại thức uống dễ mất hương vị nhất,cũng dễ hút những mùi hương khác lạ khiến chè mất đi mùi vị ban đầu.Bảo quản chè là việc hết sức quan trọng mà mỗi người uống chè đều phải biết</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-md-flex justify-content-md-evenly mt-1 ">
                <div class="col-md-3 mt-1 mb-7">
                    <img src="../home/Pictures/tin-tuc/TINTUC_07.jpg" class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title mt-3 font_tintuc " style="color:cadetblue"> Văn hóa uống trà của người Việt,câu chuyện xưa và nay </h5>
                    <p style="width: 18rem;" class="mt-2 font_tintuc1">Trà xanh thái nguyên được phổ biến là một thức uống dân dã,quen thuộc bao đời nay.Cây chè xuất hiện chủ yếu ở các tỉnh Thái Nguyên,Phú Thọ,Yên Bái,Lâm Đồng....là nguồn gốc cho ra những sản phẩm chè có chất lượng cao </p>
                </div>
                <div class="col-md-3 mt-1 mb-7">
                    <img src="../home/Pictures/tin-tuc/TINTUC_08.jpg" class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title mt-3 font_tintuc " style="color:cadetblue"> Chè xanh Thái nguyên ướp hoa nhài </h5>
                    <p style="width: 18rem;" class="mt-4 font_tintuc1">Ở Việt Nam có rất nhiều nơi trồng hoa nhài,đây là một loại hoa nở tới 6 tháng/năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất nhiều và trà ướp hoa nhài giá thành rẻ hơn rất nhiều so với trà ướp bông sen Tây Hồ</p>
                </div>
                <div class="col-md-3 mt-1 mb-5">
                    <img src="../home/Pictures/tin-tuc/TINTUC_09.jpg" class="card-img-top" style="width: 18rem;">
                    <h5 class="card-title mt-3 font_tintuc " style="color:cadetblue"> Cách bảo quản trà sen tuyết giữ được vị hương thơm </h5>
                    <p style="width: 18rem;" class="mt-2 font_tintuc1 ">Chè là loại thức uống dễ mất hương vị nhất,cũng dễ hút những mùi hương khác lạ khiến chè mất đi mùi vị ban đầu.Bảo quản chè là việc hết sức quan trọng mà mỗi người uống chè đều phải biết</p>
                </div>
            </div>
        </div>
    </section>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item">
                <a class="page-link" href="#">></a>
            </li>
        </ul>
    </nav>
</div>

