@model fontend.Areas.Admin.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    .Choicefile {
        display: block;
        background: #14142B;
        border: 1px solid #fff;
        color: #fff;
        width: 150px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 0px;
        border-radius: 5px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }

        .Choicefile:hover {
            text-decoration: none;
            color: white;
        }

    #uploadfile,
    .removeimg {
        display: none;
    }

    #thumbbox {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .removeimg {
        height: 25px;
        position: absolute;
        background-repeat: no-repeat;
        top: 5px;
        left: 5px;
        background-size: 25px;
        width: 25px;
        /* border: 3px solid red; */
        border-radius: 50%;
    }

        .removeimg::before {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            content: '';
            border: 1px solid red;
            background: red;
            text-align: center;
            display: block;
            margin-top: 11px;
            transform: rotate(45deg);
        }

        .removeimg::after {
            /* color: #FFF; */
            /* background-color: #DC403B; */
            content: '';
            background: red;
            border: 1px solid red;
            text-align: center;
            display: block;
            transform: rotate(-45deg);
            margin-top: -2px;
        }
</style>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách sản phẩm</li>
            <li class="breadcrumb-item"><a href="#">Thêm sản phẩm</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Tạo mới sản phẩm</h3>
                <div class="tile-body">
                    <div class="row element-button">
                        @*<div class="col-sm-2">
                            <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fas fa-folder-plus"></i> Thêm nhà cung cấp
                            </a>
                        </div>*@
                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#adddanhmuc">
                                <i class="fas fa-folder-plus"></i> Thêm danh mục
                            </a>
                        </div>
                        @*<div class="col-sm-2">
                            <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addtinhtrang">
                                <i class="fas fa-folder-plus"></i> Thêm tình trạng
                            </a>
                        </div>*@
                    </div>
                    <form class="row" enctype="multipart/form-data" asp-area="Admin" asp-controller="ManageProduct" asp-action="AddProduct">
                        <div class="form-group col-md-3">
                            <label class="control-label">Tên sản phẩm</label>
                            <input name="Name" asp-for="Name" class="form-control" type="text">
                        </div>


                        <div class="form-group  col-md-3">
                            <label  class="control-label">Số lượng</label>
                            <input name="Quatity" asp-for="Quatity" class="form-control" type="number">
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label">Danh mục</label>
                            <select class="form-control" asp-for="IdCategory" asp-items="@ViewBag.CategoryId">
                                <option>-- Chọn danh mục --</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label  class="control-label">Giá bán</label>
                            <input name="Price" asp-for="Price" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label  class="control-label">Ghi chú</label>
                            <input name="Notes" asp-for="Notes" class="form-control" type="text">
                        </div>
                        <div class="form-group  col-md-3">
                            <label class="control-label">Delete</label>
                            <input name="ISDELETE" asp-for="ISDELETE" class="form-control" type="number">
                        </div>
                        <div class="form-group  col-md-3">
                            <label class="control-label">Hoạt động</label>
                            <input name="ISACTIVE" asp-for="ISACTIVE" class="form-control" type="number">
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Images" class="control-label">
                                Ảnh sản phẩm
                            </label>
                            <input name="fileImages" type="file" class="form-control" />
                        </div>
                        <div class="form-group col-md-12">
                            <label  class="control-label">Mô tả sản phẩm</label>
                            <textarea name="Description" asp-for="Description" class="form-control"  id="mota"></textarea>
                        </div>
                        <input class="btn btn-save" type="submit" value="Lưu lại">
                        <a class="btn btn-cancel ml-2" href="~/Admin/ManageProduct/Index">Hủy bỏ</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>


<!--
  MODAL CHỨC VỤ
-->
@*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Thêm mới nhà cung cấp</h5>
                        </span>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Nhập tên chức vụ mới</label>
                        <input class="form-control" type="text" required>
                    </div>
                </div>
                <BR>
                <button class="btn btn-save" type="button">Lưu lại</button>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                <BR>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>*@
<!--
MODAL
-->
<!--
  MODAL DANH MỤC
-->
<div class="modal fade" id="adddanhmuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <form class="modal-body" asp-area="Admin" asp-controller="ManageProduct" asp-action="AddCategory">
                <div class="row">
                    <div class="form-group  col-md-12">
                        <h5 class="mt-2">
                            <span class="thong-tin-thanh-toan">
                            Thêm mới danh mục
                            </span>
                        </h5>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Name" class="control-label">Nhập tên danh mục mới</label>
                        <input asp-for="Name" class="form-control" type="text" required>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Danh mục sản phẩm hiện đang có</label>
                        <ul style="padding-left: 20px;">
                            @foreach (var item in ViewBag.Category)
                            {
                                <li>@item.Name</li>
                            }
                        </ul>
                    </div>
                </div>
                <BR>
                <input class="btn btn-save" type="submit" value="Lưu lại"/>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                <BR>
            </form>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--
MODAL
-->
<!--
  MODAL TÌNH TRẠNG
-->
@*<div class="modal fade" id="addtinhtrang" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="form-group  col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Thêm mới tình trạng</h5>
                        </span>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Nhập tình trạng mới</label>
                        <input class="form-control" type="text" required>
                    </div>
                </div>
                <BR>
                <button class="btn btn-save" type="button">Lưu lại</button>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                <BR>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>*@
